*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}

img{
  width: 1rem;
}

a{
  text-decoration: none;
}

header{
  z-index: 9999;
  width: 100%;
  height: 5.5rem;
  position: fixed;
  top: 0;
}

.media{
  width: 1.6rem;
  filter: invert(53%) sepia(9%) saturate(827%)
   hue-rotate(208deg) brightness(95%) contrast(87%);
}

.media:hover{
  filter: invert(100%) sepia(99%) saturate(0%)
   hue-rotate(23deg) brightness(105%) contrast(100%);
}

.media-container{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.main-navbar{
  background-color: white;
  height: 55%;
  display: flex;
  align-items: center;
  
}

.small-screen-navbar{
  visibility: hidden;
}

.full-width{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home{
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  width: 4.2rem;
  filter: brightness(0%);
}

.full-width > ul{
  display: flex;
  list-style-type: none;
  gap: 1.7rem;
}

.full-width > ul > li > a{
  font-family: "Gemunu Libre", "Roboto", sans-serif;
  font-size: 1.1rem;
  color: #505050;
}

.full-width > ul > li > a:hover{
  color: black;
}

.newsletter{
  width: 1.2rem;
  margin-right: 1rem;
  filter: invert(93%) sepia(10%) saturate(88%)
   hue-rotate(175deg) brightness(91%) contrast(86%);
}

.conference-tickets{
  height: 45%;
  padding-top: 0.7rem;
  padding-left: 1.3rem;
  background: linear-gradient(rgb(238, 206, 47), rgb(254, 220, 50));
}

.conference-tickets > span{
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
}

.body-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  top: 5.5rem;
}

.body-wrapper > *{
  padding: 2.5rem;
  display: inherit;
  flex-direction: inherit;
  flex: 1 1 initial;
}

.introduction{
  position: relative;
  display: inherit;
  flex-direction: row;
  padding: 6rem 0 1rem 0;
  justify-content: space-between;
  height: 8rem;
}

.introduction > a > img{
  position: absolute;
  top: 7rem;
  left: 6rem;
  width: 15rem;
  filter: brightness(0%);
}

.introduction > p{
  position: absolute;
  top: 7rem;
  right: 6rem;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #505050;
}

.main-articles{
  height: 44rem;
}

.main-articles-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1rem;
  height: fit-content;
}

.small-screen-art-5{
  visibility: hidden;
}

.main-articles-wrapper > * > a > div{
  width: 100%;
  height: 55%;
}

.main-articles-wrapper > *{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-articles-wrapper > article > p{
  font-family: "Gemunu Libre", "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 1.5rem;
  color: white;
}

.main-articles-wrapper > article > a > p{
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 1.5rem 0.2rem 1.5rem;
  font-weight: 800;
  color: white;
}

.art-1{
  background-image: linear-gradient(transparent 50%, black), url(images/articles/main-1.jfif);
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  font-size: 2.3rem;
}

.art-2{
  background-image: linear-gradient(transparent 50%, black),url(images/articles/main-2.jfif);
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  font-size: 1.1rem;
}

.art-3{
  background-image: linear-gradient(transparent 50%, black),url(images/articles/main-3.jfif);
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  font-size: 1.1rem;
}

.art-4{
  background-image: linear-gradient(transparent 50%, black),url(images/articles/main-4.jfif);
  grid-column: 3 / 5;
  grid-row: 3 / 6;
  font-size: 2.3rem;
}

.art-5{
  background-image: linear-gradient(transparent, black),url(images/others/tnw-conference.jpg);
  grid-column: 1 / 3;
  grid-row: 4 / 6;
}

.art-5, .small-screen-art-5{
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.art-5 > h4, .small-screen-art-5 > h4{
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.art-5 > button, .small-screen-art-5 > button{
  align-self: center;
  width: 7.5rem;
  height: 2.7rem;
  border-radius: 1.2rem;
  color: white;
  background-color: transparent;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.popular-today{
  display: inherit;
  flex-direction: inherit;
  height: fit-content;
  gap: 3rem;
}

.popular-today > h2{
  font-family: "Open Sans Condensed", "Roboto", sans-serif;
  text-align: center;
  color:#808080
}

.popular-articles{
  flex: 1 1 initial;
  display: inherit;
  justify-content: space-around;
}

.popular-articles > a{
  flex: 1 1 initial;
}

.popular-articles > a > article{
  width: 14rem;
  height: 10rem;
  display: flex;
  gap: 1rem;
}

.popular-articles > a > article > span{
  font-family: "Open Sans Condensed", "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(199, 11, 143);
}

.popular-articles > a > article > p{
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 0.45rem;
}

.popular-articles > a > article > p:hover{
  text-decoration: underline solid rgb(233, 167, 217) 2px;
}

.latest-stories{
  display: inherit;
  flex-direction: inherit;
  gap: 3rem
}

.latest-stories > h2{
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 800;
}

.stories-wrapper{
  flex: 1 1 initial;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  height: fit-content;
}

.storie-container{
  height: fit-content;
}

.storie-container > article > img{
  width: 100%;
  height: auto;
}

.storie-container > article > p{
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.3rem;
}

.storie-container > article > p:hover{
  text-decoration: underline solid rgb(233, 167, 217) 2px;
}

.storie-container > article > span{
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  color: #808080;
}

.latest-stories > button{
  flex: 1 1 initial;
  margin-top: 4rem;
  width: 8rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: black;
  align-self: center;
  color: black;
  background-color: transparent;
  border-color:#808080;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.latest-stories > button:hover{
  border-color: #505050;
}

.channels{
  display: inherit;
  flex-direction: inherit;
  gap: 3rem;
}

.channels > h2{
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 800;
}

.channel-wrapper{
  display: inherit;
  justify-content: space-between;
  height: 20rem;
  overflow: scroll;
  scrollbar-width: none;
  gap: 20px;
}

.channel-wrapper::-webkit-scrollbar{
  display: none;
}

.channel-container{
  min-width: 14.73rem;
  height: 14rem; 
}

.channels, .channel-wrapper, .channel-container{
  flex: 0 0 initial;
}

.channel-container > article{
  height: 100%;
  padding: 2rem 1rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.channel-container > article > img{
  width: 8rem;
  align-self: center;
  position: absolute;
}

.channel-container > article > p{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  position: relative;
  top: 8rem;
}

.plugg{
  background-image: url("images/channels/bg-1.webp");
}

.neural{
  background-image: url("images/channels/bg-2.jfif");
}

.shift{
  background-image: url("images/channels/bg-3.jfif");
}

.grouth-quarters{
  background-image: url("images/channels/bg-4.jfif");
}

.hard-fork{
  background-image: url("images/channels/bg-5.webp");
}

.house-of-talent{
  background-image: url("images/channels/bg-6.jfif");
}

.newsletter-sub{
  height: 20rem;
  background-image: url("images/others/subscribe-background.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  background-color: black;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0;
  gap: 1.5rem;
}

.newsletter-sub > *{
  font-family: "Roboto", sans-serif;
  color: white;
}

.newsletter-sub > h2{
  font-size: 3rem;
}

.newsletter-sub > span > a{
  color: #00CCCC;
}

.newsletter-sub > span > a:hover{
  color: white;
  font-weight: 500;
}

.newsletter-sub > form > label{
  display: inline-block;
  background-color: white;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
}

#email{
  width: 38rem;
  height: 3rem;
  border: none;
}

#email:focus{
  outline-width: 0;
}

#submit{
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  border: none;
  color: #808080;
  padding-right: 0.5rem;
  cursor:pointer;
}

.recomended-videos{
  display: inherit;
  flex-direction: inherit;
}

.videos-wrapper{
  flex: 1 1 initial;
  display: inherit;
  gap: 1rem;
}

iframe{
  flex: 1 1 initial;
}

.more-videos-wrapper{
  height: 545px;
  min-width: fit-content;
  display: inherit;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  overflow-y: scroll;
}

.video-container > div{
  min-width: 200px;
  max-width: 200px;
  max-height: 180px;
  min-height: 180px;
}

.video-container > div > img{
  min-width: 100%;
  max-height: 110px;
  object-fit:cover;
  margin-bottom: 0.5rem;
}

.video-container > div > p{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.video-container > div > p:hover{
  text-decoration: underline solid rgb(233, 167, 217) 2px;
}

.work-with-us{
  gap: 2rem;
}

.wwu-wrapper, .partner-brands{
  flex: 1 1 initial;
  display: inherit;
}

.wwu-wrapper{
  justify-content: space-between;
  height: 20rem;
}

.wwu-text{
  flex: 1 1 initial;
  display: inherit;
  flex-direction: column;
  width: 49%;
  gap: 0.5rem;
}

.wwu-text > span{
  font-family: "Open Sans Condensed", "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(199, 11, 143);
}

.wwu-text > h2, .wwu-text > p{
  font-family: "Roboto", sans-serif;
  margin-bottom: 1.5rem;
}

.wwu-text > h2{
  font-weight: 600;
  font-size: 2.6rem;
}

.wwu-text > p{
  font-size: 1.05rem;
  color: #505050;
  font-weight: 400;
  line-height: 1.8rem;
}

.wwu-text > button{
  border: none;
  color: white;
  background-color: #00CCCC;
  min-height: 2.8rem;
  width: 9rem;
  border-radius: .2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.wwu-text > button:hover{
  background-color: #00DDDD;
}

.wwu-images{
  flex: 1 1 initial;
  width: 49%;
  display: inherit;
  flex-wrap: wrap;
}

.wwu-images > div{
  display: flex;
  flex: 1 1 initial;
  width: 45%;
  align-items: center;
  gap: 1rem;
}

.wwu-images > div > img{
  width: 7rem;
}

.wwu-images > div > span{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.partner-brands{
  height: 16rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.partner-brands > img{
  max-width: 8rem;
  min-width: 6rem;
  filter: invert(60%) sepia(10%) saturate(88%)
   hue-rotate(175deg) brightness(95%) contrast(88%);
}

.partner-brands > img:hover{
  filter: invert(60%) sepia(10%) saturate(88%)
   hue-rotate(175deg) brightness(70%) contrast(86%);
}

footer{
  display: flex;
  flex-direction: column;
  height: 30rem;
  background-color: black;
}

.main-footer{
  flex: 1 1 initial;
  display: inherit;
  justify-content: space-between;
  height: 85%;
  padding: 3rem 2rem;
}

.main-footer > *{
  flex: 1 1 initial;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.left-footer{
  gap: 2rem;
  padding-left: 3rem;
}

.left-footer > img{
  width: 10rem;
  filter: invert(99%) sepia(82%) saturate(50%)
   hue-rotate(193deg) brightness(1000%) contrast(100%);
}

.left-footer > p{
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.more-tnw, .about-tnw{
  padding-left: 8rem;
}

.more-tnw > h3, .about-tnw > h3{
  font-family: "Open Sans Condensed", "Roboto", sans-serif;
  font-size: 1.5rem;
  color:white;
  margin-bottom: 2rem;
}

.more-tnw > ul, .about-tnw > ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.more-tnw > ul > li > a, .about-tnw > ul > li > a{
  color: #00CCCC;
  font-family: "Roboto", sans-serif;
}

.more-tnw > ul > li > a:hover, .about-tnw > ul > li > a:hover{
  text-decoration: underline solid #00DDDD;
}

footer > hr{
  border: 1px solid rgb(120, 120, 120);
}

.copyright > p{
  margin-top: 1rem;
  flex: 1 1 initial;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: #BBBBBB;
}

.copyright > p > a{
  color:white;
}


@media screen and (max-width: 1024px) {
  .conference-tickets{
    visibility: hidden;
  }

  .main-navbar{
    height: 70%;
  }

  .introduction{
    flex-direction: column;
  }

  .main-articles-wrapper{
    grid-template-rows: repeat(4, 1fr);
  }

  .art-1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .art-2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .art-3{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .art-4{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .art-5{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .popular-articles{
    flex-direction: column;
    gap: 0.8rem;
  }

  .popular-articles > a > article{
    height: 3rem;
    width: 100%;
  }

  .stories-wrapper{
    grid-template-columns: repeat(2, 1fr);
  }

  .storie-container{
    justify-self: center;
    width: 100%;
  }

  .main-footer{
    flex-wrap: wrap;
    justify-content: initial;
    gap: 2rem;
  }
  
  .left-footer{
    height: 50px;
    width: 100%;
  }

  .more-tnw, .about-tnw{
    width: 40%;
    height: 100px;
  }
}

@media screen and (max-width: 768px){
  .main-articles{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .main-articles-wrapper{
    display: inherit;
    overflow-x: scroll;
    scrollbar-width: none;
    height: fit-content;
  }

  .main-articles-wrapper::-webkit-scrollbar{
    display: none;
  }

  .art-1, .art-2, .art-3, .art-4{
    min-width: 30rem;
    height: 20rem;
  }

  .art-5{
    display: none;
    visibility: hidden;
  }

  .small-screen-art-5{
    visibility: visible;
    align-self: center;
    min-width: 100%;
    height: 12rem;
    background-color: red;
  }

  .stories-wrapper{
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    height: fit-content;
  }

  .videos-wrapper{
    flex-direction: column;
    width: 100%;
  }

  iframe{
    max-width: 100%;
  }

  .more-videos-wrapper{
    min-width: 100%;
    height: fit-content;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  
  .wwu-wrapper{
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: fit-content;
  }

  .wwu-images, .wwu-text{
    width: 100%;
    height: 20rem;
  }
}